<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/#">
      <img src="{{ "/assets/logo.png" | relative_url }}" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/#what-is-ruffle">What is Ruffle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#usage">Usage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#releases">Downloads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#compatibility">Compatibility</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#get-involved">Get involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://ruffle.rs/demo" target="_blank">Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://discord.gg/J8hgCQN" target="_blank">Join Discord</a>
        </li>
      </ul>
    </div>

  </nav>
</header>
