<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#37528C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#37528C">
  <meta name="og:image" content="/assets/logo.svg">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/bootstrap/css/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/title.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
  <link rel="icon" href="/assets/favicon-32.png" sizes="32x32">
  <link rel="icon" href="/assets/favicon-64.png" sizes="64x64">
  <link rel="icon" href="/assets/favicon-180.png" sizes="180x180">
  {%- feed_meta -%}
</head>
