<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://ruffle.rs/" />
  <meta property="twitter:url" content="https://ruffle.rs/">
  <meta property="og:description" content="Ruffle is a Flash Player emulator written in Rust. Ruffle runs natively on all modern operating systems as a standalone application, and on all modern browsers through the use of WebAssembly. Leveraging the safety of the modern browser sandbox and the memory safety guarantees of Rust, we can confidently avoid all the security pitfalls that Flash had a reputation for. Ruffle puts Flash back on the web, where it belongs - including browsers on iOS and Android!">
  <meta name="twitter:description" content="Ruffle is a Flash Player emulator written in Rust. Ruffle runs natively on all modern operating systems as a standalone application, and on all modern browsers through the use of WebAssembly. Leveraging the safety of the modern browser sandbox and the memory safety guarantees of Rust, we can confidently avoid all the security pitfalls that Flash had a reputation for. Ruffle puts Flash back on the web, where it belongs - including browsers on iOS and Android!">
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="https://ruffle.rs/assets/logo.svg">
  <meta property="twitter:image" content="https://ruffle.rs/assets/logo.svg">
  <meta property="og:video" content="https://ruffle.rs/assets/logo-anim.swf" />
  <meta property="og:video:type" content="application/x-shockwave-flash" />
  <meta property="og:video:width" content="600" />
  <meta property="og:video:height" content="400" />
  <meta name="theme-color" content="#37528C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#37528C">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/bootstrap/css/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/title.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
  <link rel="icon" href="assets/favicon-32.png" sizes="32x32">
  <link rel="icon" href="assets/favicon-64.png" sizes="64x64">
  <link rel="icon" href="assets/favicon-180.png" sizes="180x180">
  {%- feed_meta -%}
</head>
