<table class="table table-responsive-lg table-dark downloads">
	<thead>
		<tr>
			<th>Version</th>
			{% comment %}
			With the current code, the releases sent to this table are either all prereleases or all not prereleases
			{% endcomment %}
			{% unless include.releases.first.prerelease %}
			<th>Date</th>
			{% endunless %}
			<th>Desktop</th>
			<th>Browser Extension</th>
			<th>Website</th>
		</tr>
	</thead>
	<tbody>
		{% for release in include.releases limit: include.limit %}
			<tr>
				<td>
					{{ release.name }}
					{% if release.prerelease %}
						<code class="ml-1">preview</code>
					{% endif %}
				</td>
				{% unless release.prerelease %}
				<td>{{ release.published_at | date: "%Y-%m-%d" }}</td>
				{% endunless %}
				{% include release-assets.html assets=release.assets %}
			</tr>
		{% endfor %}
	</tbody>
</table>
