<td>
	<ul class="row">
		{% assign linux = include.assets | where_exp:"item", "item.name contains '-linux'" | first %}
		{% if linux != nil %}
			<li><a href="{{ linux.browser_download_url}}" target="_blank">Linux</a></li>
		{% else %}
			<li style="text-decoration: line-through">Linux</li>
		{% endif %}

		{% assign macos = include.assets | where_exp:"item", "item.name contains '-macos'" | first %}
		{% if macos != nil %}
			<li><a href="{{ macos.browser_download_url}}" target="_blank">Mac OS</a></li>
		{% else %}
			<li style="text-decoration: line-through">Mac OS</li>
		{% endif %}

		{% assign windows32 = include.assets | where_exp:"item", "item.name contains '-windows-x86_32'" | first %}
		{% if windows32 != nil %}
			<li><a href="{{ windows32.browser_download_url}}" target="_blank">Windows (32-bit)</a></li>
		{% else %}
			<li style="text-decoration: line-through">Windows (32-bit)</li>
		{% endif %}

		{% assign windows64 = include.assets | where_exp:"item", "item.name contains '-windows-x86_64'" | first %}
		{% if windows64 != nil %}
			<li><a href="{{ windows64.browser_download_url}}" target="_blank">Windows (64-bit)</a></li>
		{% else %}
			<li style="text-decoration: line-through">Windows (64-bit)</li>
		{% endif %}
	</ul>
</td>
<td>
	<ul class="row">
		{% assign unsigned_firefox = include.assets | where_exp:"item", "item.name contains '-firefox-unsigned'" | first %}

		{% if unsigned_firefox != nil %}
		<li><a href="{{ unsigned_firefox.browser_download_url}}" target="_blank">Firefox</a></li>
		{% else %}
		<li style="text-decoration: line-through">Firefox</li>
		{% endif %}

		{% assign webkit = include.assets | where_exp:"item", "item.name contains '-extension.'" | first %}
		{% if webkit != nil %}
			<li><a href="{{ webkit.browser_download_url}}" target="_blank">Chrome / Edge</a></li>
		{% else %}
			<li style="text-decoration: line-through">Chrome / Edge</li>
		{% endif %}
		{% if macos != nil %}
			<li><a href="{{ macos.browser_download_url}}" target="_blank">Safari</a></li>
		{% else %}
			<li style="text-decoration: line-through">Safari</li>
		{% endif %}
	</ul>
</td>
<td>
	<ul class="row">
		{% assign selfhosted = include.assets | where_exp:"item", "item.name contains '-selfhosted'" | first %}
		{% if selfhosted != nil %}
			<li><a href="{{ selfhosted.browser_download_url}}" target="_blank">Self Hosted</a></li>
		{% else %}
			<li style="text-decoration: line-through">Self Hosted</li>
		{% endif %}
	</ul>
</td>
