<table class="table table-responsive-lg table-dark downloads">
	<thead>
		<tr>
			<th>Version</th>
			<th>Desktop</th>
			<th>Browser Extension</th>
			<th>Website</th>
		</tr>
	</thead>
	<tbody>
		{% for release in include.releases limit: include.limit %}
			<tr>
				<td>
					{{ release.name }}
					{% if release.prerelease %}
						<code class="ml-1">preview</code>
					{% endif %}
				</td>
				{% include release-assets.html assets=release.assets %}
			</tr>
		{% endfor %}
	</tbody>
</table>
