<table class="table table-responsive-lg table-dark downloads">
	<thead>
		<tr>
			<th>Version</th>
			<th>Date</th>
			<th>Desktop</th>
			<th>Browser Extension</th>
			<th>Website</th>
		</tr>
	</thead>
	<tbody>
		{% assign all_files = include.releases | map: "assets" | reverse | reverse %}
		<tr>
			<td>
				Latest Available
				<code class="ml-1">preview</code>
			</td>
			<td>n/a</td>
			{% include release-assets.html assets=all_files %}
		</tr>
		{% for release in include.releases limit: include.limit %}
			<tr>
				<td>
					{{ release.name }}
					{% if release.prerelease %}
						<code class="ml-1">preview</code>
					{% endif %}
				</td>
				<td>{{ release.published_at | date: "%Y-%m-%d" }}</td>
				{% include release-assets.html assets=release.assets %}
			</tr>
		{% endfor %}
	</tbody>
</table>
