@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Exo 2', sans-serif;
$base-font-size:   24px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #FFAD33 !default;
$background-color: #37528C !default;
$brand-color:      #FC0 !default;
$link-color:       $brand-color !default;

$grey-color:       lighten($background-color, 30%) !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 40%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

body {
  background: $background-color;
  color: #FFAD33;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
