---
---

a:visited {
  color: #FC0;
}

pre, code {
  color: #FC0;
  font-size: 1rem;
}

table {
  border:none;
}

table th {
  background-color:#FFAD33;
}

table tr:nth-child(2n) {
  background-color: transparent;
}

table.table-dark th {
  color:#454d55;
  font-weight: 400;
}

.navbar {
  //background-color: #31497D;
  background-color: transparent;
  font-size: 1rem;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.navbar.active {
  background-color: #31497D;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover {
  color: #FFAD33;
  text-decoration: none;
}

.navbar-light .navbar-nav li.nav-item {
  margin-right: 1rem;
}

.section {
  min-height: 100vh;
}

.section.splash {
  padding-top: 10vh;
  text-align: center;
}

.section.splash p {
  margin: 10vh;
}

.section.splash ul {
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.section.splash li {
  padding: 10px 6vw;
}

.section.content {
  font-size: 1rem;
  padding-left: 8vw;
  padding-right: 8vw;
}

.section.content table.table {
  font-size: 1rem;
}

.section.content table.table ul {
  list-style: none;
  margin: 1rem!important;
}

.section.content table.table.downloads td {
  vertical-align: middle;
}

.section.content table.table ul.row {
  display:flex;
  flex-direction: row;
}

.section.content table.table ul.row li {
  margin-right:1rem;
}

.section.content .row {
  margin-bottom: 1rem;
}

.section.content .bold-text {
  font-weight: bold;
}

.section.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.section h2 {
  padding-top:5rem;
  margin-left:1rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  border-bottom: solid 1px #31497D;
}

.section.content .col-base {
  margin-bottom: 1rem;
}

.section.content .col-base.col-img {
  display:flex;
  flex-direction: column;
  flex-basis: content;
  justify-content: center;
}

.section.content .row.demo .col-base {
  border: solid 1px;
}

.header-down-arrow {
  -webkit-animation: 2s 3s ease-out infinite;
          animation: 2s 3s ease-out infinite;
    bottom: 4vh;
    left: 0;
  position: absolute;
    right: 0;
  text-align: center;
  z-index: 10;
}

.header-down-arrow img {
  width: 5vw;
  -webkit-animation: no-transform 1s 1s ease-out forwards;
          animation: no-transform 1s 1s ease-out forwards;
  opacity: 0;
  -webkit-transform: translateY(4rem);
          transform: translateY(4rem);
}

footer.site-footer {
  padding: 0;
}

footer.site-footer ul {
  display:flex;
  flex-basis: auto;
  flex-direction: row;
  list-style: none;
  margin-bottom: 0px;
}

ul.sponsors, ul.as-seen-on {
  list-style: none;
  margin-left:0;
  justify-content: space-around;
  text-align: center;
}

ul.sponsors li {
  display: inline-block;
}

footer .social, footer .description {
  margin-top: 5px;
}

footer .svg-icon {
  margin-top: 10px;
  width: 22px;
}

footer .description {
  margin-left: auto;
  margin-right: 1rem;
  font-size: 1.3rem;
}

footer .social {
  margin-right: 1rem;
}

footer ul {
  margin-left: 1rem;
  margin-right: 1rem;
}

.github-corner {
  z-index:9999;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

img .store-badge {
  margin: 10px;
}

.meter { 
  height: .5rem;
  position: relative;
  background: #1a2743;
  overflow: hidden;
  border-radius: 5px;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: #FFAD33;
  animation: progressBar 3s ease-in-out;
  animation-fill-mode:both; 
}

@media screen and (max-width: 800px) {
  footer .social .username {
    display:none;
  }

  footer .description {
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }

  footer .social {
    margin-right:0;
  }

  .section.content .row.demo .col-base {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  .splash {
    width: 100%;
  }

  .section.splash #logo {
    width: 350px!important;
  }

  .section.content .row {
    margin-bottom: 0;
  }

  footer .description {
    font-size: 0.8rem;
  }

  .header-down-arrow img {
    width: 10vw;
  }
  
}

/* Animations */

@-webkit-keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}


@keyframes octocat-wave {

  0%,
  100% {
      transform: rotate(0)
  }

  20%,
  60% {
      transform: rotate(-25deg)
  }

  40%,
  80% {
      transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
      animation: none
  }

  .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out
  }
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}