---
layout: default
---

<div class="home">
  <section class="section content primary blog">
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
      <!--<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>-->

        {%- for post in site.posts -%}
        <article class="blog-post">
          <header>
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h2>
            <p class="post-meta">
              <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ post.date | date: date_format }}
              </time>
              {%- if post.author -%}
              <i aria-hidden="true">•</i> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ post.author }}</span></span>
              {%- endif -%}
            </p>
          </header>
          {%- if site.show_excerpts -%}
          <section class="blog-post-content">
            {{ post.excerpt }}
          </section>
          {%- endif -%}
        </article>
        {%- endfor -%}

    {%- endif -%}

  </section>
</div>
