<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
      {{ content }}
  </main>

  {%- include footer.html -%}
  <script>
    $(document).ready(function () {
    var $nav = $('.navbar');
    // fade in .navbar
    $(function () {
      $(window).on('scroll load', function () {
        // set distance user needs to scroll before we start fadeIn
        if ($(this).scrollTop() > window.innerHeight / 8) {
          $nav.addClass("active");
        } else {
          $nav.removeClass("active");
        }
      });
    });
  });
  </script>

</body>

</html>