.list {
  margin-top: var(--mantine-spacing-xl);
}

.card {
  width: 230px;
  height: 275px;
  background-color: var(--ruffle-blue-4);

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
  }
}

.link:link,
.link:visited {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-family: var(--mantine-font-family-headings);
  font-size: var(--mantine-font-size-lg);
}

.logo {
  object-fit: contain;
}
